name: pdmpainterapp
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.3.2 # criar, consultar, atualizar e excluir dados [persistência offline].
  path_provider: ^2.0.15 # é usado para tarefas como armazenar arquivos locais, acessar o cache do aplicativo e obter o caminho do diretório de documentos
  # biblioteca que formata dinamicamente a entrada do usuário em TextField ou TextFormField, usando uma máscara definida por você. Por exemplo, ao digitar um CPF, o campo já insere os pontos e traço automaticamente: 123.456.789-00.
  mask_text_input_formatter: ^2.5.0 
  intl: ^0.17.0
  http: ^1.2.0
  image_picker: ^1.0.0 # acessar galeria do celular

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

flutter:
  uses-material-design: true
  assets:
    - lib/images/ruidos-01.jpg
    - lib/images/pedras-01.jpg
    - lib/images/hieroglifos-01.jpg
    - lib/images/splashWaiting.gif
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package